.home-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar-item {
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px; /* Added margin to separate from the button */
}

.filter-button {
  padding: 10px 15px;
  border: none;
  background-color: #d3d3d3;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
}

.patient-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  gap: 15px; /* Space between items */
}

.patient-item {
  display: flex;
  align-items: center;
  background-color: rgba(163, 162, 162, 0.741);
  padding: 15px;
  border-radius: 8px;
  width: 200px; /* Fixed width for patient items */
  height: 100px;
}

.patient-image {
  width: 50px;
  height: 50px;
  background-color: #d3d3d3;
  border-radius: 50%;
  margin-right: 15px;
}

.patient-name {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
